* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}
.card {
  padding: 10px;
}
.card-image {
  width: 400px;
}
/* .btn {
  max-width: 90vw;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
} */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto 0 auto;
  max-width: 60vw;
  background-color: #ccc;
}
.logo-image {
  width: 200px;
}
.list-div {
  display: flex;
}
.list-div li {
  margin: 10px;
}
.footer-container {
  padding-top: 10px;
  width: 100vw;
  height: 5vh;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container h1 {
  margin-left: 10px;
}
.icon-social-media a {
  margin-right: 10px;
}
.icon-social-media span {
  margin-right: 2px;
}

.sidebar-container {
  display: block;
  background-color: orange;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
}
.sidebar-header h1 {
  font-family: "Redressed", cursive;

  font-size: 32px;
  margin: 30px 40px 30px 30px;
}

.icon {
  color: #000;
}
.qr-code {
  height: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-button button {
  background-color: #16a085;
  font-size: 500000px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0 0 20px;
  cursor: pointer;
  border-radius: 20%;
}

.sidebar-list-div {
  background-color: #16a085;
  /* background: url(https://wallpapercave.com/wp/wp1874155.jpg); */

  flex-direction: column;
  display: none;
}
.active-sidebar-list-div {
  display: flex;
}
.sidebar-list-div li {
  margin: 20px;
}
.sidebar-list-div li a {
  margin: 20px;
  color: #fff;
}
.container-menu {
  width: 60vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
}
.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.single-card {
  margin: 40px;
}
.item-image {
  width: 300px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 10px auto;
  flex-direction: row;
}
.btn-home {
  padding: 10px;
  font-size: 30px;
  background-color: #ccc;
  border-radius: 50%;
}
.btn-home Link {
  display: block;
  padding: 20px;
}
.btn-inc-dec {
  margin: 0 150px 0 0;
}
.btn-inc-dec button {
  padding: 20px;
  margin: 10px;
  border-radius: 20%;
  border: none;
  background-color: #16a085;
}
.button-heading h1 {
  position: relative;
  color: black;
  font-size: 40px;
}
/*
.container {
  max-width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}
.card-info {
  width: 200px;
  height: 50px;
  margin: 30px 0 0 5px;
  border-radius: 7%;
  background-color: white;
}
.card-info h1 {
  width: 200px;
  background-color: #16a085;
  border-radius: 7%;

  font-size: 20px;
  margin-left: 5px;
}
.card-info span {
  font-size: 20px;
  margin: 0 0 0 80px;
}
.card img {
  width: 160px;
  border-radius: 20%;
}
.button-heading h1 {
  color: black;
  text-align: center;
  font-size: 40px;
} */
.map {
  margin: 0 auto;
}
.container-first-page {
  position: relative;
  width: 100vw;
  height: 65vh;
}
.container-first-page::before {
  content: "";
  background-image: url(https://wallpapercave.com/wp/wp1874160.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.card-first-page {
  margin: 5px auto;
  border: orange solid 3px;
  position: relative;
  width: 90vw;
}
.qr-code2 {
  background-color: #fff;
  border: orange solid 2px;
  margin: 100px auto;
  padding: 10px;
  width: 150px;
}

.card-first-page h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
}
.card-first-page p {
  font-size: 20px;
  margin: 60px;
  text-align: center;
}

@media (min-width: 1800px) {
  .sidebar-container {
    display: none;
  }
}
@media (min-width: 821px) and (max-width: 1800px) {
  .btn button {
    color: red;
  }
  .card-image {
    max-width: 550px;
  }
  h1 {
    font-size: 12px;
  }
  .container {
    width: 100vw;
  }
  .sidebar-container {
    display: none;
  }
}

@media (max-width: 820px) {
  .btn button {
    color: black;
  }
  .navbar-container {
    display: none;
  }
  .logo-image {
    width: 86px;
    margin: 3px 18px 0 0;
    border-radius: 20%;
  }
  .card-image {
    max-width: 120px;
  }
  h1 {
    font-size: 10px;
  }

  .container-menu {
    background: url(https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
  }
  .menu-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .single-card {
    height: 150px;
    margin: 10px;
    padding: 2px 5px 0 5px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: #000;
  }
  .item-image {
    width: 150px;
    height: fit-content;
    border-radius: 20%;
    /* opacity: 1;
    position: relative;
    top: 15px; */
  }
  .item-name {
    text-align: center;
    color: #000;
    /* position: relative;
    bottom: 70px; */
    font-size: 25px;
  }
  .container {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-selected-pastry {
    position: relative;
  }
  .container-selected-sweets {
    position: relative;
  }
  .container-selected-soups {
    position: relative;
  }
  .container-selected-pastry::before {
    content: "";
    background-image: url(https://images.food52.com/brilX5Z9lyJciIDhjr7nih-wB-w=/1930x1286/e9a760b9-dba8-4f21-9bac-75fc76d91e4a--2021-0211_yeasted-puff-pastry_bake-it-up-a-notch_3x2_rocky-luten_015.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
  }
  .container-selected-sweets::before {
    content: "";
    background-image: url(https://health.clevelandclinic.org/wp-content/uploads/sites/3/2017/04/sweetSaltyCravings-1149135424_770x533.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
  }
  .container-selected-soups::before {
    content: "";
    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/210219170352-16-world-best-soups.jpg?q=w_3000,h_1688,x_0,y_0,c_fill);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
  }
  .card-container {
    position: relative;
  }
  .card {
    display: flex;
    /* background-color: #16a085; */
  }
  .card-info {
    width: 200px;
    height: 50px;
    margin: 30px 0 0 5px;
    border-radius: 7%;
    background-color: white;
    z-index: 1;
  }
  .card-info h1 {
    width: 200px;
    background-color: #16a085;
    border-radius: 7%;

    font-size: 20px;
    margin-left: 5px;
  }
  .card-info span {
    font-size: 20px;
    margin: 0 0 0 80px;
  }
  .card img {
    width: 160px;
    border-radius: 20%;
    position: relative;
    right: 20px;
    z-index: 0;
  }
  /* .btn {
    display: flex;
    flex-direction: column;
  } */
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px auto;
    flex-direction: row;
  }
  .btn-home {
    padding: 10px;
    font-size: 30px;
    background-color: #ccc;
    border-radius: 50%;
  }
  .btn-home Link {
    display: block;
    padding: 20px;
  }
  .btn-inc-dec {
    margin: 0 150px 0 0;
  }
  .btn-inc-dec button {
    padding: 20px;
    margin: 10px;
    border-radius: 20%;
    border: none;
    background-color: #16a085;
  }
  .button-heading h1 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 40px;
  }
  .container-first-page {
    position: relative;
    width: 100vw;
    height: 65vh;
  }
  .container-first-page::before {
    content: "";
    background-image: url(https://wallpapercave.com/wp/wp1874160.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
  }
  .card-first-page {
    margin: 5px auto;
    border: orange solid 3px;
    position: relative;
    width: 90vw;
  }
  .qr-code2 {
    background-color: #fff;
    border: orange solid 2px;
    margin: 100px auto;
    padding: 10px;
    width: 150px;
  }

  .card-first-page h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
  }
  .card-first-page p {
    font-size: 20px;
    margin: 60px;
    text-align: center;
  }
}
